.homepage-hero {
    width: 100%;
    background: linear-gradient(-45deg, #3f0892, #031f8e, #483cef, #322e7c);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
    position: relative;
    .hero-overlay-text {
        text-align: center;
        color: $white;
        font-family: $heading-font;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        background-color: #000;
        padding: 38px;
        border-radius: 36px;
        z-index: 1;
        .front {
            font-size: 3em;
        }
        .living {
            font-size: 3.4em;
        }
        .perth {
            font-size: 2.4em;
            position: absolute;
            top: 72px;
            left: 390px;
        }
        .west {
            position: absolute;
            left: 392px;
            font-size: 13px;
            top: 119px;
        }
        .ct-flex {
            text-align: center;
            margin-top: 30px;
            img {
                width: 50px;
            }
        }
    }
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.intro-block {
    padding: 130px;
    h2 {
        font-family: $heading-font;
        font-size: 1.6em;
    }
}